<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeathyWooo</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://kit.fontawesome.com/ebd4fff52e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css' )}}">
    <!-- <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <script>
        $(document).ready(function () {

            setInterval(function () {
                var dt = new Date();
                $('#auto').text(dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds())
            }, 1000);
        })
    </script>
    <style>
        .image {
            object-fit: contain;
            height: 200px;
        }

        .search_con {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container1 {
            display: flex;
            flex-direction: column;
        }

        .card1,
        .card2 {
            height: 87vh;
        }
    </style>
        
    
    <div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="row card0">
                <div class="card1 col-lg-8 col-md-7"> <small>WeathyWooo</small>
                    <div class="text-center"> <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png"> </div>
                    <div class="container1">
                        <div class="row px-3 mt-3 mb-3" style="line-height: 0.8rem;">
                            <h1 class="large-font mr-3" style="font-size: 60px;">{{tm}}&#176;</h1>
                            <div class="d-flex flex-column mr-3">
                                <h2 class="mt-3 mb-0">{{weather['name']}}</h2> <small><span id='auto'></span> -
                                    {{d}}</small>
                                <span style="display: flex; align-items: center;">
                                    <img src="{{ico}}" alt="" style="width: 60px; object-fit: contain;">
                                    <span style="margin-left: 5px; ">{{weather['weather'][0]['description']}}
                                    </span>
                                </span>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card2 col-lg-4 col-md-5">
                    <div class="row px-3">
                        <div>
                            <form action="/new" method="GET" class="search_con">
                                <input type="text" name="name" placeholder="Another location">
                                <button type="submit" class="btn-primary"
                                    style="border-radius: 10px; background-color: rgb(31, 184, 211); color: #fff; border: 0; font-size: 1.5rem;"><i
                                        class="fas fa-search-location"></i></button>
                            </form>
                        </div>
                    </div>
                    <p style="text-align: center; color: yellow;">{{message}}</p>
                    <div class="mr-5">
                        <p>Weather Details</p>
                        <div class="row px-3">
                            <p class="light-text">Cloudy</p>
                            <p class="ml-auto">{{weather['clouds']['all']}}%</p>
                        </div>
                        <div class="row px-3">
                            <p class="light-text">Humidity</p>
                            <p class="ml-auto">{{weather['main']['humidity']}}%</p>
                        </div>
                        <div class="row px-3">
                            <p class="light-text">Wind</p>
                            <p class="ml-auto">{{weather['wind']['speed']}}m/s</p>
                        </div>
                        <div class="row px-3">
                            <p class="light-text">Visibility</p>
                            <p class="ml-auto">{{v}}km</p>
                        </div>
                        <div class="row px-3">
                            <p class="light-text">Place</p>
                            <p class="ml-auto">{{weather['name']}} [ {{weather['sys']['country']}} ]</p>
                        </div>
                        <div class="line mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>